// Navigation Styles here
.site-header{
    .flex(@justify: space-between);
    border-bottom: 1px dashed gray;
    padding: 20px 85px;

    .site-nav{
        .flex(row, space-evenly);
        width: 50%;

        a{
            color: black;
            cursor: pointer;
            font: @nav-font;
            text-decoration: none;
        }

        @media @mobile{
            width: 100%;
            margin-top: 20px;
        }
    }

    @media @mobile{
        .flex(column, @align: center);
    }
}